.dark-mode {
    background-color: white;
    color: black;
  }
  
  .light-mode {
    background-color: black;
    color: white;
  }
  
  .fas.fa-sun {
    display: none;
  }
  
  .light-mode .fas.fa-sun {
    display: inline;
    text-decoration: none;
  }
  
  .light-mode .fas.fa-moon {
    display: none;
    
  }
  
  .dark-mode .fas.fa-moon {
    display: inline;
    text-decoration: none;
  }
  .navbar-text {
    text-align: right;
}
.no-underline {
    text-decoration: none;
}
.sun-white {
    color: white;
}
